@reference "tailwindcss";

.hover-gif {
	@apply absolute w-[200px] h-[145px] pointer-events-none z-[5] origin-center drop-shadow-[0_5px_15px_rgba(0,0,0,0.3)] rounded-lg;
}

.gif-top {
	transform-origin: bottom center;
}

.gif-left {
	transform-origin: right center;
}

.gif-right {
	transform-origin: top center;
}

.gif-right-space {
	/*text is short but has a space right side mainly*/
	transform-origin: top center;
	transform: translateX(-30%);
}

.gif-right-z-fighters {
	/*A text is longer than others which cause size issues*/
	transform-origin: top center;
	transform: translateX(-65%);
}

.gif-right-left-zero {
	transform-origin: top center;
	transform: translateX(-100%);
}

.gif-sao-top {
}

.gif-sao-right-top {
}

.gif-sao-top-middle {
}
.gif-sao-main-right {
}

.gif-gom-right {
}
.gif-gom-left {
}
.gif-uncrown-kings-left {
}
.gif-seirin-high-top {
}
.gif-seirin-high-right {
}

.gif-kawahara-left {
}

.gif-mitobe-top {
}

.gif-kuro-top {
}
.gif-teppei-top {
}

.gif-teppei-right {
}

.gif-fate-series-right {
}
.gif-fate-series-left {
}
.gif-fate-grand-order-drop {
}

.gif-fate-grand-order-right {
}

.gif-fate-grand-order-right-only {
}

.gif-fate-stay-night-top {
}

.gif-fate-stay-night-right {
}
.gif-fate-stay-night-servants-top{

}
.gif-fate-stay-night-servants-right{}
/*
gifs placement adjustment for smaller screens
*/

@media (width < 1440px) {
	.gif-top {
		transform: translateX(-10%);
	}
	.gif-sao-top {
		transform: translateY(30%);
	}
	.gif-sao-right-top {
		transform: translate(20%, 25%);
	}
	.gif-sao-top-middle {
		transform: translateY(13%);
	}
	.gif-sao-main-right {
		transform: translateX(10%);
	}

	.gif-sao-main-left {
		transform: translateX(10%);
	}
	.gif-gom-right {
		transform: translateX(-17%);
	}
	.gif-gom-left {
		transform: translateX(17%);
	}
	.gif-uncrown-kings-left {
		transform: translateX(17%);
	}
	.gif-serin-high-top {
		transform: translateY(15%);
	}
	.gif-seirin-high-right {
		transform: translateX(25%);
	}
	.gif-kawahara-left {
		transform: translateX(20%);
	}
	.gif-mitobe-top {
		transform: translateY(16%);
	}
	.gif-kuro-top {
		transform: translateY(25%);
	}
	.gif-teppei-top {
		transform: translateY(20%);
	}
	.gif-teppei-right {
		transform: translateX(20%);
	}
	.gif-fate-series-right {
		transform: translateX(-20%);
	}
	.gif-fate-series-left {
		transform: translateX(20%);
	}
	.gif-fate-grand-order-drop {
		transform: translateY(27%);
	}
	.gif-fate-grand-order-right {
		transform: translate(22%, 27%);
	}
	.gif-fate-grand-order-right-only {
		transform: translateX(20%);
	}
	.gif-fate-stay-night-top {
		transform: translate(-15%, 20%);
	}
	.gif-fate-stay-night-right{
		transform: translateX(-9%);
	}
	.gif-fate-stay-night-servants-top{
		transform: translate(-5%, 18%);
	}
	.gif-fate-stay-night-servants-right{
		transform: translateX(15%);
	}
}
