@reference "tailwindcss";

.hover-gif {
	@apply absolute w-[200px] h-[145px] pointer-events-none z-[5] origin-center drop-shadow-[0_5px_15px_rgba(0,0,0,0.3)] rounded-lg;
}

.gif-top {
	transform-origin: bottom center;
}

.gif-left {
	transform-origin: right center;
}

.gif-right {
	transform-origin: top center;
}

.gif-right-space {
	/*text is short but has a space right side mainly*/
	transform-origin: top center;
	transform: translateX(-30%);
}

.gif-right-z-fighters {
	/*A text is longer than others which cause size issues*/
	transform-origin: top center;
	transform: translateX(-65%);
}

.gif-right-left-zero {
	transform-origin: top center;
	transform: translateX(-100%);
}

.gif-sao-top {
}

.gif-sao-right-top {
}

.gif-sao-top-middle {
}
.gif-sao-main-right{

}

@media (width < 1440px) {
	.gif-top {
		transform: translateX(-10%);
	}
	.gif-sao-top {
		transform: translateY(30%);
	}
	.gif-sao-right-top {
		transform: translate(20%, 25%);
	}
	.gif-sao-top-middle {
		transform: translateY(13%);
	}
	.gif-sao-main-right{
		transform: translateX(10%);
	}

	.gif-sao-main-left{
		transform: translateX(10%);
	}
}
