@reference "tailwindcss";

.main-screen-text {
	@apply text-6xl font-normal tracking-wide m-[2px] cursor-pointer p-2 text-zinc-300 hover:text-zinc-600;
}

.dragon-ball-text-animated:hover {
	background: radial-gradient(
		circle at 100%,
		#fed7aa,
		#fdba74 50%,
		#ffedd5 75%,
		#fb923c 75%
	);
	background-size: 200% auto;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animatedTextGradient 1.5s linear infinite;
}

.bleach-text-animated:hover {
	background: radial-gradient(
		circle at 100%,
		#2d3748,
		/* Jet Black */ #ffffff 25%,
		/* Pure White */ #e53e3e 50%,
		/* Blood Red */ #3182ce 75%,
		/* Royal Blue */ #1a202c 75% /* Darker Jet Black */
	);
	background-size: 200% auto;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animatedTextGradient 2.5s linear infinite;
}

@keyframes animatedTextGradient {
	to {
		background-position: 200% center;
	}
}
.black-clover-animated-text:hover {
	background: radial-gradient(
		circle at 100%,
		#22c55e,
		/* Clover green */ #02772d 20%,
		/* Deep clover green */ #b91c1c 40%,
		/* Demon red */ #7d0000 60%,
		/* Cursed blood */ #000000 80%,
		/* Anti-magic black */ #000000 80% /* Clover's last trace */
	);
	background-size: 300% auto; /* Wider gradient for slower transition */
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: demon-awakening 5s linear infinite alternate;
	text-shadow: 0 5px 10px rgba(185, 28, 28, 0.3); /* Red glow */
}

@keyframes demon-awakening {
	to {
		background-position: 300% center;
	}
}

.fate-series-animated-text:hover {
	color: rgba(255, 255, 255, 0.1); /* Base transparency */

	background-size: 400% 400%;
	background-image: linear-gradient(
		90deg,
		#d4af37 10%,
		/* Gold (Heroism) */ #4169e1 30%,
		/* Blue (Divinity) */ #ff0000 50%,
		/* Red (Conflict) */ #800080 70%,
		/* Purple (Mystery) */ #ffa500 90% /* Orange (Hope) */
	);
	-webkit-background-clip: text;
	background-clip: text;
	animation: fate-gradient-animation 8s linear infinite;
}

@keyframes fate-gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
