@reference "tailwindcss";

/* Generation of Miracles Colors */
:root {
	--kuroko: #7db9de;
	--aomine: #1e3f5a;
	--midorima: #3b8d51;
	--murasakibara: #884898;
	--akashi: #d9333f;
	--kise: #f6c324;
}

.main-screen-text {
	@apply text-6xl font-normal tracking-wide m-2.5 cursor-pointer text-zinc-300 hover:text-zinc-600;
	@apply max-[1440px]:text-5xl; /* 1440px and below */

}

.dragon-ball-text-animated-text:hover {
	background: radial-gradient(
		circle at 100%,
		#fed7aa,
		#fdba74 50%,
		#ffedd5 75%,
		#fb923c 75%
	);
	background-size: 200% auto;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animatedTextGradient 1.5s linear infinite;
}

/*bleach text animation*/
.bleach-text-animated-text:hover {
	background: radial-gradient(
		circle at 100%,
		#2d3748,
		#ffffff 25%,
		#e53e3e 50%,
		#3182ce 75%,
		#1a202c 75%
	);
	background-size: 200% auto;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animatedTextGradient 2.5s linear infinite;
}

@keyframes animatedTextGradient {
	to {
		background-position: 200% center;
	}
}

/* black clover text animation*/

.black-clover-animated-text:hover {
	background: radial-gradient(
		circle at 100%,
		#22c55e,
		#02772d 20%,
		#b91c1c 40%,
		#7d0000 60%,
		#000000 80%,
		#000000 80%
	);
	background-size: 300% auto; /* Wider gradient for slower transition */
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: demon-awakening 5s linear infinite alternate;
	text-shadow: 0 5px 10px rgba(185, 28, 28, 0.3); /* Red glow */
}

@keyframes demon-awakening {
	to {
		background-position: 300% center;
	}
}

/*
fate series text animation
*/
.fate-series-animated-text:hover {
	color: rgba(255, 255, 255, 0.1); /* Base transparency */

	background-size: 400% 400%;
	background-image: linear-gradient(
		90deg,
		#d4af37 10%,
		#4169e1 30%,
		#ff0000 50%,
		#800080 70%,
		#ffa500 90%
	);
	-webkit-background-clip: text;
	background-clip: text;
	animation: fate-gradient-animation 8s linear infinite;
}

@keyframes fate-gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* kuroko basketball text animation */
.kuroko-basketball-animated-text:hover {
	background: linear-gradient(
		90deg,
		var(--kuroko),
		var(--aomine),
		var(--midorima),
		var(--murasakibara),
		var(--akashi),
		var(--kise)
	);
	background-size: 600% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: kuroko-basketball-animation 8s infinite;
}

.kuroko-basketball-animated-text:hover .color-char:nth-child(1) {
	animation: color1 8s infinite 0s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(2) {
	animation: color2 8s infinite 0.2s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(3) {
	animation: color3 8s infinite 0.4s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(4) {
	animation: color4 8s infinite 0.6s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(5) {
	animation: color5 8s infinite 0.8s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(6) {
	animation: color6 8s infinite 1s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(8) {
	animation: color8 8s infinite 1.4s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(10) {
	animation: color10 8s infinite 1.8s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(11) {
	animation: color11 8s infinite 2s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(12) {
	animation: color12 8s infinite 2.2s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(13) {
	animation: color13 8s infinite 2.4s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(14) {
	animation: color14 8s infinite 2.6s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(15) {
	animation: color15 8s infinite 2.8s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(16) {
	animation: color16 8s infinite 3s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(17) {
	animation: color17 8s infinite 3.2s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(18) {
	animation: color18 8s infinite 3.4s;
}
.kuroko-basketball-animated-text:hover .color-char:nth-child(19) {
	animation: color19 8s infinite 3.6s;
}
@keyframes kuroko-basketball-animation {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@keyframes color1 {
	0%,
	100% {
		color: var(--kuroko);
	}
	50% {
		color: var(--akashi);
	}
}
@keyframes color2 {
	0%,
	100% {
		color: var(--aomine);
	}
	50% {
		color: var(--kise);
	}
}
@keyframes color3 {
	0%,
	100% {
		color: var(--midorima);
	}
	50% {
		color: var(--murasakibara);
	}
}
@keyframes color4 {
	0%,
	100% {
		color: var(--murasakibara);
	}
	50% {
		color: var(--midorima);
	}
}
@keyframes color5 {
	0%,
	100% {
		color: var(--akashi);
	}
	50% {
		color: var(--kuroko);
	}
}
@keyframes color6 {
	0%,
	100% {
		color: var(--kise);
	}
	50% {
		color: var(--aomine);
	}
}
@keyframes color8 {
	0%,
	100% {
		color: var(--kuroko);
	}
	50% {
		color: var(--midorima);
	}
}
@keyframes color10 {
	0%,
	100% {
		color: var(--aomine);
	}
	50% {
		color: var(--murasakibara);
	}
}
@keyframes color11 {
	0%,
	100% {
		color: var(--midorima);
	}
	50% {
		color: var(--kise);
	}
}
@keyframes color12 {
	0%,
	100% {
		color: var(--murasakibara);
	}
	50% {
		color: var(--akashi);
	}
}
@keyframes color13 {
	0%,
	100% {
		color: var(--akashi);
	}
	50% {
		color: var(--kuroko);
	}
}
@keyframes color14 {
	0%,
	100% {
		color: var(--kise);
	}
	50% {
		color: var(--aomine);
	}
}
@keyframes color15 {
	0%,
	100% {
		color: var(--kuroko);
	}
	50% {
		color: var(--midorima);
	}
}
@keyframes color16 {
	0%,
	100% {
		color: var(--aomine);
	}
	50% {
		color: var(--murasakibara);
	}
}
@keyframes color17 {
	0%,
	100% {
		color: var(--midorima);
	}
	50% {
		color: var(--kise);
	}
}
@keyframes color18 {
	0%,
	100% {
		color: var(--murasakibara);
	}
	50% {
		color: var(--akashi);
	}
}
@keyframes color19 {
	0%,
	100% {
		color: var(--akashi);
	}
	50% {
		color: var(--kuroko);
	}
}

/*sword art online text animations*/
.sword-art-online-animated-text p {
	position: relative;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.sword-art-online-animated-text:hover p::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #00b4db;
	-webkit-text-stroke: 0vw #0909f0;
	border-right: 3px solid #00b4db;
	overflow: hidden;
	filter: drop-shadow(0 0 5px #00b4db);
	animation: swordArtOnlineAnimate 5s linear infinite;
	white-space: nowrap;
}

@keyframes swordArtOnlineAnimate {
	0%,
	10% {
		width: 0;
	}
	70%,
	90% {
		width: 100.7%; /* 100.7% to fully go over E anything higher make the animation shift to the left at the end*/
	}
	100% {
		width: 0;
	}
}

/*
solo leveling animation theme
*/
.solo-leveling-animated-text:hover {
	background-image: url(https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3dzMyNjQ5YWcyZGo5eWtja2g4dXNyNmI5cjM4Y2k2NDZtd2o0eDF4cCZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/3bc8pP1rVdfgN1uoMV/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
}
