@import "tailwindcss";

.sub-text{
    @apply text-5xl font-normal tracking-wide m-[2px] cursor-pointer p-2 text-zinc-300 hover:text-zinc-600;
}


.navigation-manager {
	position: relative;
	width: 100%;
	height: 100%;
}

.back-button {
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
	font-size: 24px;
	z-index: 10;
}

.content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

.fade-in {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
